/* === PAINEL DE CHAMADA === */
body {
    font-family: Arial, sans-serif;
    background-image: url('../img/fundo.png');
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
}

.top-bar {
    background-color: #1ba4c1;
    color: white;
    padding: 35px 50px;
    display: flex;
    align-items: center;
    gap: 25px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 100%;
    box-sizing: border-box;
    height: 20vh;
}

.top-bar img {
    height: 15vh;
}

.top-bar h1 {
    margin: 0;
    font-size: 4vw;
    word-break: break-word;
}

.painel-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 40px 20px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.qr-section,
.lista-section {
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    max-width: 45%;
    min-width: 300px;
    margin-bottom: 30px;
}

.qr-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.lista-section ul {
    list-style-type: none;
    padding: 0;
}

.lista-section li {
    margin-bottom: 8px;
    font-weight: bold;
}

.data-hora {
    text-align: center;
    margin-top: 20px;
    color: white;
    font-size: 1.2em;
}

.voltar-btn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
    background-color: rgb(255, 255, 255); 
    padding: 6px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.voltar-btn img {
    width: 50px;
    height: auto;
    display: block;
}
